body {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  background-color: lightcyan;
}

header,
main,
footer,
aside,
nav {
  border: 1px solid lightseagreen;
  margin: 10px;
  padding: 10px;
}

nav {
  background-color: lightseagreen;
  color: white;
  font-size: 18px;
}
.navigation-links {
  padding-left: 0;
}

.navigation-links li {
  display: inline;
  margin: 10px;
}

input,
select,
textarea {
  line-height: 25px;
  font-size: 16px;
  font-family: monospace;
  border-radius: 5px;
  border: 1px solid grey;
}

@media (max-width: 600px) {
  body {
    background-color: lightsteelblue;
    color: navy;
    font-size: 26px;
    line-height: 55px;
  }

  header,
  main,
  aside,
  footer,
  nav {
    border: 1px solid lightslategrey;
  }
}

.parent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Grid areas  */
header {
  grid-area: 1 / 1 / 3 / 6;
}
nav {
  grid-area: 3 / 1 / 4 / 6;
}
main {
  grid-area: 4 / 1 / 7 / 4;
}
aside {
  grid-area: 4 / 4 / 7 / 6;
}
footer {
  grid-area: 7 / 1 / 8 / 8;
}

.parent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 100px 1fr 1fr 1fr 1fr 100px;
}
header {
  grid-area: 1 / 1 / 1 / 1;
}
nav {
  grid-area: 2 / 1 / 2 / 1;
}
main {
  grid-area: 3 / 1 / 5 / 1;
}
aside {
  grid-area: 5 / 1 / 7 / 1;
}

@media (min-width: 600px) {
  .parent {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  /* Grid areas  */
  header {
    grid-area: 1 / 1 / 3 / 6;
  }
  nav {
    grid-area: 3 / 1 / 4 / 6;
  }
  main {
    grid-area: 4 / 1 / 7 / 4;
  }
  aside {
    grid-area: 4 / 4 / 7 / 6;
  }
  footer {
    grid-area: 7 / 1 / 8 / 8;
  }
}
