.parent {
  width: 100%;
  height: 600px;
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

header,
nav,
main,
aside,
footer {
  margin: 10px;
}

header {
  background-color: lightcoral;
  grid-area: 1 / 1 / 3 / 6;
}
nav {
  background-color: blueviolet;
  grid-area: 3 / 1 / 4 / 6;
}
main {
  background-color: lightblue;
  grid-area: 4 / 1 / 7 / 4;
}
aside {
  background-color: lightgreen;
  grid-area: 4 / 4 / 7 / 6;
}
footer {
  background-color: lavender;
  grid-area: 7 / 1 / 8 / 8;
}

@media (max-width: 600px) {
  header,
  main,
  aside,
  footer,
  nav {
    background-color: darksalmon;
  }
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  header {
    grid-area: 1 / 1 / 1 / 1;
  }
  nav {
    grid-area: 2 / 1 / 2 / 1;
  }
  main {
    grid-area: 3 / 1 / 5 / 1;
  }
  aside {
    grid-area: 5 / 1 / 7 / 1;
  }
}
