/* body {
  color: red;
}

.black-border {
  border: 5px solid black;
}

#green-background {
  background-color: green;
} */

body {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  background-color: lightcyan;
}

header,
main,
footer,
nav {
  width: 80%;
}

.green-border {
  border: 1px solid lightseagreen;
}

nav {
  background-color: lightseagreen;
  color: white;
  font-size: 18px;
}
